workflowretencionproto/overlays/cl.bancochile.plataformabase.info-ejecutivo-1.15.0/WEB-INF/classes/wsdl/CS000321v01_ObtInfoFuncionario.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="ObtieneInformacionFuncionario" targetNamespace="http://osb.bancochile.cl/ObtieneInformacionFuncionario/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://osb.bancochile.cl/ObtieneInformacionFuncionario/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema targetNamespace="http://osb.bancochile.cl/ObtieneInformacionFuncionario/" xmlns:Q1="http://osb.bancochile.cl/ESB/ObtieneInformacionFuncionario/OpObtieneInformacionFuncionarioRequest" xmlns:Q2="http://osb.bancochile.cl/ESB/ObtieneInformacionFuncionario/OpObtieneInformacionFuncionarioResponse" xmlns:Q3="http://osb.bancochile.cl/common/HeaderRequest" xmlns:Q4="http://osb.bancochile.cl/common/HeaderResponse" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://osb.bancochile.cl/ObtieneInformacionFuncionario/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://osb.bancochile.cl/common/HeaderResponse" schemaLocation="HeaderResponse.xsd"/>
      <xsd:import namespace="http://osb.bancochile.cl/common/HeaderRequest" schemaLocation="HeaderRequest.xsd"/>
      <xsd:import namespace="http://osb.bancochile.cl/ESB/ObtieneInformacionFuncionario/OpObtieneInformacionFuncionarioRequest" schemaLocation="OpObtieneInformacionFuncionarioRequest.xsd"/>
      <xsd:import namespace="http://osb.bancochile.cl/ESB/ObtieneInformacionFuncionario/OpObtieneInformacionFuncionarioResponse" schemaLocation="OpObtieneInformacionFuncionarioResponse.xsd"/>
      <xsd:element name="headerRequest" type="Q3:datosHeaderRequest"/>
      <xsd:element name="headerResponse" type="Q4:datosHeaderResponse"/>
      <xsd:element name="ObtieneInformacionFuncionario">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cuerpo" type="Q1:CuerpoType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ObtieneInformacionFuncionarioResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cuerpo" type="Q2:CuerpoResponseType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="ObtieneInformacionFuncionarioRequest">
    <WL5G3N0:part element="WL5G3N1:ObtieneInformacionFuncionario" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ObtieneInformacionFuncionarioResponse">
    <WL5G3N0:part element="WL5G3N1:ObtieneInformacionFuncionarioResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="headerRequestMessage">
    <WL5G3N0:part element="WL5G3N1:headerRequest" name="headerRequest"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="headerResponseMessage">
    <WL5G3N0:part element="WL5G3N1:headerResponse" name="headerResponse"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="ObtieneInformacionFuncionario">
    <WL5G3N0:operation name="ObtieneInformacionFuncionario">
      <WL5G3N0:input message="WL5G3N1:ObtieneInformacionFuncionarioRequest"/>
      <WL5G3N0:output message="WL5G3N1:ObtieneInformacionFuncionarioResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="ObtieneInformacionFuncionarioSOAP" type="WL5G3N1:ObtieneInformacionFuncionario">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="ObtieneInformacionFuncionario">
      <WL5G3N2:operation soapAction="http://osb.bancochile.cl/ObtieneInformacionFuncionario/ObtieneInformacionFuncionario"/>
      <WL5G3N0:input>
        <WL5G3N2:header message="WL5G3N1:headerRequestMessage" part="headerRequest" use="literal"/>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:header message="WL5G3N1:headerResponseMessage" part="headerResponse" use="literal"/>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="ObtieneInformacionFuncionario">
    <WL5G3N0:port binding="WL5G3N1:ObtieneInformacionFuncionarioSOAP" name="ObtieneInformacionFuncionarioSOAP">
      <WL5G3N2:address location="http://192.168.10.12:8115/PX_SiebelClientes/CS000321v01_ObtInfoFuncionario"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>